.caixa{
    background-color:#FFEEDD;
}

.titulo{
    color: black !important;
    font-weight: bold !important;
}


.botao:hover {
    background-color:  #dc3915!important;
    color:#481b0f;
  }
  
  .botao:focus {
    background-color: #dc3915 !important;
    color: #481b0f;
    outline: none;
  }

.postagens{
    background-color: whitesmoke;
}

.text-decorator-none{
    text-decoration: none;
}