.boxRedes {
    background-color: #dc3915;
    height: 120px;
    
}

.fundo {
    background-color: #dc3915 !important;
}

.redesSociais {
    font-size: 60px !important;
    color: #481b0f !important;
    font-weight: bold !important
}

.boxAutoral {
    background-color: #dc3915 ;
    height: 60px;
}

.textoAutoral{
    color:#481b0f;
}