.imgCadastro {

    background-image: url(../../assets/img/istockphoto-1135942911-1024x1024.jpg) ;
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh ;
    background-size: cover;
    background-position: center;

    }

    .textoLogin {
        font-weight: bold !important;
    }
.btnCadastrar{
    margin-right: 20px !important; 
}
.btnCancelar{
    margin-right: 20px !important;
}